data/
datasets/
*.csv
*.jsonl

#training checkpoints (huge)
**/checkpoint*/
**/checkpoints/

#HuggingFace cache
huggingface/
cache/

#model weights
*.bin
*.pt
*.pth
*.safetensors

__pycache__/
*.pyc
*.pyo

#Virtual environments
venv/
env/
.venv/
*.ipynb_checkpoints/
*.log
*.tmp
